<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New todo</title>
</head>
<body>
    <form action="/todos" method="POST">
        <label for="name">name:</label>
        <input type="text" name="name" id="name" placeholder="name for the activity"><br>
        <label for="desc">description:</label>
        <br>
        <textarea name="desc" id="desc" cols="30" rows="10" placeholder="description of the activity"></textarea>
        <br>
        <label for="category">Select a category</label>
        <select name="category" id="category">
            <% categories.forEach(c => { %>
              <option value="<%= c %>"><%= c %></option>
            <% }) %>
        </select>
        <br>
        <button>Create</button>
    </form>
    <a href="/todos">back</a>
</body>
</html>